<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">

		<% if (error) { %>
			<%= error %>
		<% } %>
		
		<main class="login">
			<form action="/users/processLogin" method="POST">
				<input type="text" name="identificador" placeholder="Email o Nombre de Usuario:" required>
				<input type="password" name="password" placeholder="Contraseña:" required>
				<label for="remember"> Recordame <input type="checkbox" id="remember" name="remember"> </label>
				<button type="submit"> Ingresar </button>
				<p class="reg-but">¿No tenés una cuenta? <a class="unodos" href="/users/register"> ¡Registrate!</a></p>
			</form>
		</main>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>