<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">

		<main class="productAdd">		
			<form action="/product/agregar" method="POST">
				<input type="texto" name="imagen"placeholder="Nombre del archivo (ej: producto1.jpg):">
				<input type="texto" name="nombre" placeholder="Nombre del producto:">
				<input type="texto" name="descripcion" placeholder="Descripción:">
				<button type="submit">Publicar Producto</button>
			</form>
		</main>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>