<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			
			<form action="" method="GET">
				<input type="email" placeholder="Email:">
				<input type="texto" placeholder="Usuario:">
				<input type="contraseña" placeholder="Contraseña:">
				<input type="fecha" placeholder="Fecha de nacimiento:">
				<input type="numerico" placeholder="Documento:">
				<input type="texto" placeholder="Foto de perfil:">
			</form>

			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>