<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
		<main class="register">
			<form id="registerForm" action="/users/newuser" method="POST">
				<input type="email" name="email" placeholder="Email:" required>
				<input type="text" name="name" placeholder="Nombre de usuario:" required>
				<input type="password" name="password" placeholder="Contraseña:" required>
				<input type="date" name="date" placeholder="Fecha de nacimiento:" required>
				<input type="number" name="dni" placeholder="Documento:" required>
				<input type="text" name="foto" placeholder="Foto de perfil:" required>
				<button type="submit"> Registrarse </button>
			</form>
		</main>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>